<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InmobiliariaGutierrez</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InmobiliariaGutierrez.styles.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" , rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
     
</head>
<body>
   
		<header>
            @if (User.Identity.IsAuthenticated){
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">InmobiliariaGutierrez</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-flex">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <l  i class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Propietario" asp-action="Index">Propietarios</a> @* me dirige al controller Inquilino y al Index. Este busca en la DB la lista de inquilinos y devuerve la view Index de inquilino con la lista *@
                        </l>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inquilino" asp-action="Index">Inquilinos</a> @* me dirige al controller Inquilino y al Index. Este busca en la DB la lista de inquilinos y devuerve la view Index de inquilino con la lista *@
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inmueble" asp-action="Index">Inmueble</a> @* me dirige al controller Inquilino y al Index. Este busca en la DB la lista de inquilinos y devuerve la view Index de inquilino con la lista *@
                        </li>
                                   <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pago" asp-action="Index">Pagos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contrato" asp-action="Index" asp-route-page="1" >Contratos</a> @* me dirige al controller Inquilino y al Index. Este busca en la DB la lista de inquilinos y devuerve la view Index de inquilino con la lista *@
                        </li>
                     
                        @if(User.IsInRole("Administrador")){
                               <li class="nav-item">
                                  <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index"  >Usuario</a> @* me dirige al controller Inquilino y al Index. Este busca en la DB la lista de inquilinos y devuerve la view Index de inquilino con la lista *@
                               </li>
                        }
                        <div class="ms-auto dropdown">
                            <li class="ms-auto dropdown " id="perfil">
                                <a class="dropdown-toggle dropdown-toggle-icon-none" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                    <image id="imgPerfil" x="0" y="0" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" src="@User.FindFirst("img")?.Value">
                                        <i id="flechaImgPerfil" class="bi bi-arrow-down-circle secondary"></i>
                                    </image>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg-end">
                                  <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Editar" asp-route-id="@User.FindFirst("id").Value" >Editar mi perfil</a></li>
                                  <li><a asp-controller="Usuario" asp-action="Logout" class="dropdown-item" >🚪 Salir</a></li>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>}
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
             <div class="container">
                  @RenderBody()
            </div>
        
    
        </main>
    </div>
   

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - InmobiliariaGutierrez - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
				
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/tablaInquilino.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
