@model InmobiliariaGutierrez.Models.VO.AuditoriaViewModelContrato
<!DOCTYPE html>
<html>

<body>

<div class="container">
    <h2>Detalle de Contrato</h2>

    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">Información del Contrato</h4>
            <p class="card-text">ID: @Model.Contrato.Id</p>
            <p class="card-text">Fecha de Inicio: @Model.Contrato.FechaInicio.ToString("dd/MM/yyyy")</p>
            <p class="card-text">Fecha de Fin: @Model.Contrato.FechaFin.ToString("dd/MM/yyyy")</p>
        </div>
    </div>

    <div class="mt-3">
        <h4>Historial de Auditoría</h4>
        <table id="auditoriaTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre del Usuario</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Cancelación</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var auditoria in Model.AuditoriaData)
                {
                    <tr>
                        <td>@auditoria.Usuario.Nombre @auditoria.Usuario.Apellido</td>
                        <td>@(auditoria.FechasInicio.HasValue ? auditoria.FechasInicio.Value.ToString("dd/MM/yyyy") : "No disponible")</td>
                        <td>@(auditoria.FechasCancelacion.HasValue ? auditoria.FechasCancelacion.Value.ToString("dd/MM/yyyy") : "No disponible")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


</body>
</html>
