@model InmobiliariaGutierrez.Models.VO.Auditoriapago

<h1>Detalles de Auditoría de Pago</h1>

<div>
    <h3>Usuario que Recibió el Pago</h3>
    <p>@Model.UsuarioId.Nombre @Model.UsuarioId.Apellido</p>
</div>

<div>
    <h3>Fecha de Recepción del Pago</h3>
    <p>@(Model.FechaPago.HasValue ? Model.FechaPago.Value.ToString("dd/MM/yyyy") : "No disponible")</p>
</div>

<div>
    <h3>Fecha de Cancelación del Pago</h3>
    <p>@(Model.FechaCancelacion.HasValue ? Model.FechaCancelacion.Value.ToString("dd/MM/yyyy") : "No disponible")</p>
</div>

<div>
    <h3>Inquilino</h3>
    <p>@Model.ContratoId.InquilinoId.Nombre @Model.ContratoId.InquilinoId.Apellido</p>
</div>

<div>
    <h3>Contrato</h3>
    <p>ID: @Model.ContratoId.Id</p>
    <p>Fecha de Inicio: @Model.ContratoId.FechaInicio.ToString("dd/MM/yyyy")</p>
    <p>Fecha de Fin: @Model.ContratoId.FechaFin.ToString("dd/MM/yyyy")</p>
</div>

<a href="@Url.Action("Index", "Auditoriap")" class="btn btn-primary">Volver</a>
