    @model InmobiliariaGutierrez.Models.VO.ModelAuxiliar

    @{
        string precio = "";
        if (Model.Pagos != null && Model.Pagos.Count > 0)
        {
            precio = Model.Pagos[0].Importe.ToString();
        }
    }

    <!DOCTYPE html>
    <html lang="en">
    <head>

    </head>
    <body>
    <h3>@Model.Apellido @Model.Nombre</h3>
    <h3>@Model.Dni</h3>
    @if (TempData["dato"] != null)
        {
            <div class="alert alert-warning" role="alert">
                @TempData["dato"]
            </div>
        }
    <table id="example" class="display" style="width:100%">
    

            <thead>
                <tr>
                    <th>Número de Pago</th>
                    <th>Fecha a Realizar el Pago</th>
                    <th>Fecha de Pago</th>
                    <th>Fin De Contrato</th>
                    <th>Importe</th>
                    <th></th>
                      <th></th>
                      <th></th>

                </tr>
            </thead>
            <tbody>
            @foreach (var pago in Model.Pagos)
                    {
                        <tr>
                            <td>@pago.NumeroPago</td>
                            <td>@pago.Fecha 
                            <td style="@(pago.FechaPago != DateTime.MinValue ? "background-color: green;" : "background-color: red;")">
                                @(pago.FechaPago != DateTime.MinValue ? pago.FechaPago.Value.ToString("dd/MM/yyyy HH:mm:ss"): "------------")
                            </td>
                            <td>@Model.FinContrato</td>
                            <td>@pago.Importe</td>
                           <td class="d-flex">
                                @if (pago.FechaPago == DateTime.MinValue)
                                {
                                    <form id="formPago" asp-action="Pagar" asp-route-ContratoId="@pago.ContratoId" asp-route-nombre="@Model.Nombre" asp-route-apellido="@Model.Apellido" asp-route-dni="@Model.Dni" asp-route-NumeroPago="@pago.NumeroPago" asp-route-fecha="@pago.Fecha" asp-route-importe="@pago.Importe" method="post">
                                        <button id="btnPagar" type="submit" onclick="return confirm('¿Estás seguro que deseas realizar el pago?');" class="btn btn-success"><i class="bi bi-cash"></i> Pagar</button>
                                    </form>
                                }
                                else {
                                                                
                                    <i class="bi bi-check-circle text-success"></i>
                               
                                

                                }
                            </td>
                            <td>
                                @if(User.IsInRole("Administrador")){
                               
                                 @if (pago.FechaPago != DateTime.MinValue) {
                                        <form id="formEliminar" asp-action="Eliminar" method="post">
                                        <input type="hidden" name="ContratoId" value="@pago.ContratoId" />
                                        <input type="hidden" name="NumeroPago" value="@pago.NumeroPago" />
                                        <input type="hidden" name="fecha" value="@pago.Fecha" />
                                        <input type="hidden" name="importe" value="@pago.Importe" />
                                        
                                        <button type="submit" class="btn btn-success" onclick="return confirm('¿Estás seguro que deseas eliminar este pago?');">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                                                
                                 }
                                

                                }
                            </td>
                            <td>
                                @if(User.IsInRole("Administrador")){
                                <form id="formAuditoria" asp-controller="Auditoriap" asp-action="Auditoria" method="post">
                                    <input type="hidden" name="ContratoId" value="@pago.ContratoId" />
                                    <input type="hidden" name="NumeroPago" value="@pago.NumeroPago" />
                                  
                                    
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-journal-plus"></i> Detalle
                                    </button>
                                </form>
                                }
                            </td>
                        </tr>
                    }
            </tbody>
        </table>



    </body>
    </html>
