@model InmobiliariaGutierrez.Models.VO.Inmueble;
 @{
    ViewData["Title"] = "Home Page";
}  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js" integrity="sha384-vVLAXFZdBnVG2FNWV7XyzYZEUksVe2b6GOa5n5Z9lghxFAQB5VBlm5uVKXjy6CP4" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        iniciarMap();
    });

    function iniciarMap() {
        var coord = { lat: -33.29501, lng:  -66.33563 };
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: coord
        });
        marker = new google.maps.Marker({
            position: coord,
            map: map,
            draggable: true // Permite arrastrar el marcador
        });

        // Agrega un listener para el evento de arrastre del marcador
        google.maps.event.addListener(marker, 'dragend', function (event) {
            document.getElementById('lat').value = event.latLng.lat();
            document.getElementById('lng').value = event.latLng.lng();
        });
    }
</script>
    
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDu7va6ywpsO9cysQN_Z7d9goMR2Xw6Sr8&callback=iniciarMap" async defer></script>

<h4>Propietario</h4>
<hr />
  

<div>
    <!-- Formulario de Inmueble -->
    <form id="formulario2" action="/Inmueble/CargarInmueble" method="post">
        <div class="mb-3">
            <label for="nombrePropietario" class="form-label">Nombre : @Model.PropietarioId.Nombre</label>
            <label for="PropietarioId" class="form-label">Id Propietario : @Model.PropietarioId.Id</label>
            <input type="hidden" name="NombrePropietario" value="@Model.PropietarioId.Nombre" />
             <input type="hidden" name="nextinmuebles" value="0" />
             <input type="hidden" name="PropietarioId" value="@Model.PropietarioId.Id" />
        </div>
        <div class="mb-3">
            <label for="documentoPropietario" class="form-label">Documento : @Model.PropietarioId.DNI</label>
            <input type="hidden" name="DocumentoPropietario" value="@Model.PropietarioId.DNI" />
        </div>
        <div class="mb-3">
            <label for="idInmueble" class="form-label">ID Inmueble: @Model.Id</label>
            <input type="hidden" name="IdInmueble" value="@Model.Id" />
        </div>
        <div class="mb-3">
            <p>Cual es su Uso</p>
           <select class="form-select form-select-sm" name="Uso" aria-label=".form-select-sm example">
 
                @if (Model.Uso==InmobiliariaGutierrez.Models.VO.TipoUso.Comercial)
                {
        <option value="ja" selected>Comercial</option>
        <option value="jo">Residencial</option>
    }
    else if (Model.Uso==InmobiliariaGutierrez.Models.VO.TipoUso.Residencial)
    {
        <option value="ja">Comercial</option>
        <option value="jo" selected>Residencial</option>
    }
    else
    {
        <option value="ja">Comercial</option>
        <option value="jo">Residencial</option>
    }
    
</select>

        </div>
        <div class="mb-3">
            <p>Tipo de inmueble</p>
            <select class="form-select form-select-sm" name="Tipo" aria-label=".form-select-sm example">
    @if (Model.InmuebleTipoId.Tipo == "Local")
    {
        <option value="1" selected>Local</option>
        <option value="2">Depósito</option>
        <option value="3">Casa</option>
        <option value="4">Departamento</option>
    }
    else if (Model.InmuebleTipoId.Tipo == "Depósito")
    {
        <option value="1">Local</option>
        <option value="2" selected>Depósito</option>
        <option value="3">Casa</option>
        <option value="4">Departamento</option>
    }
    else if (Model.InmuebleTipoId.Tipo == "Casa")
    {
        <option value="1">Local</option>
        <option value="2">Depósito</option>
        <option value="3" selected>Casa</option>
        <option value="4">Departamento</option>
    }
    else if (Model.InmuebleTipoId.Tipo == "Departamento")
    {
        <option value="1">Local</option>
        <option value="2">Depósito</option>
        <option value="3">Casa</option>
        <option value="4" selected>Departamento</option>
    }
    else
    {
        <option value="1">Local</option>
        <option value="2">Depósito</option>
        <option value="3">Casa</option>
        <option value="4">Departamento</option>
    }
</select>

        </div>
        <div class="mb-3">
            <p>Cantidad de ambientes</p>

<select class="form-select form-select-sm" id="cantidadAmbientes" name="Cantidad_habitacion" aria-label=".form-select-sm example">
    @for (int i = 1; i <= 10; i++)
    {
        <option value="@i">@i</option>
    }
</select>

<script>
    // Espera a que el documento esté completamente cargado
    document.addEventListener("DOMContentLoaded", function () {
        // Obtiene el valor de CantidadAmbientes del modelo
        var selectedValue = "@Model.CantidadAmbientes";
        // Selecciona el elemento <select> por su ID
        var selectElement = document.getElementById("cantidadAmbientes");
        // Establece el valor seleccionado del <select> usando el valor del modelo
        selectElement.value = selectedValue;
    });
</script>
        <div class="mb-3">
            <div id="map" style="height: 400px;"></div>
            <input type="hidden" name="Longitud" id="lng" value="-34.5956145" />
            <input type="hidden" name="Latitud" id="lat" value="-58.4431949" />
        </div>
        <div class="mb-3"
            <label for="Direccion">Direccion</label>
            <input type="text" name="Direccion" class="form-control" value="@Model.Direccion" required placeholder="Direccion" />
        </div>
        <div class="mb-3">
             <label for="PrecioBase">Precio</label>
            <input type="text" name="Precio" class="form-control" value="@Model.PrecioBase" required placeholder="Precio base" />
        </div>
        <div class="mb-3">
            <p>¿Está listo para alquilar?</p>
           <select class="form-select form-select-sm" name="Alquilar" aria-label=".form-select-sm example">
                @if (Model.Disponible)
                {
                    <option value="1" selected>Si</option>
                    <option value="0">No</option>
                }
                else
                {
                    <option value="1">Si</option>
                    <option value="0" selected>No</option>
                }
            </select>
        </div>

                        <button type="submit" class="btn btn-primary" onclick="cargarInmobiliaria()">Cargar</button>
                    </form>
                </div>
             
            </div>
        </div>
    </div>
}

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    <script>
        function cargarInmobiliaria() {
            var formulario = document.getElementById("formulario2");
            formulario.action = "/Inmueble/CargarInmueble";
            formulario.submit();
        }
          var errorMessage = "@TempData["ErrorMessage"]";

    // Verificar si hay un mensaje de error y mostrar un alert
    if (errorMessage) {
        alert(errorMessage);
    }
    </script>
}


          
