@model InmobiliariaGutierrez.Models.ViewInquilinoFiltrarInmueble

@{  ViewInquilinoFiltrarInmueble filtro=null; 
    var m=ViewBag.obj;
    if(ViewBag.filtros!=null){
       filtro = ViewBag.filtros;
     }
  else{
       filtro=new ViewInquilinoFiltrarInmueble();
      }

     
}
<div>
<h1>Lista de inmuebles</h1>

</div>


<table class="table table-hover table-sm align-middle table-responsive" >
        <thead class="table-dark">
            <tr>
				        <th>ID</th>
                <th>propietario</th>
                <th>canntidad ambiente</th>
                <th>Tipo</th>
                <th>Dirección</th>
                <th>Precio base</th>
                <th>Uso</th>
                <th></th>
            </tr>
		</thead>
        <tbody >
      @{int i=0;}
			@foreach (var item in m.Lista){
            		<tr>
            		      <td>                           
                          @item.Id
                      </td>
            		      <td>
                            <p class="d-inline-flex gap-1">
                                 <button type="button" class="btn btn-outline-secondary btn-sm collapsed"  
                                         data-bs-toggle="collapse" 
                                         data-bs-target="#infoPersona@(i)" 
                                         aria-expanded="false" 
                                         aria-controls="infoPersona@(i)" > @item.PropietarioId.Nombre @item.PropietarioId.Apellido
                                 </button>
                            </p>
                            <div class="collapse" id="infoPersona@(i)" >
                                <div class="card card-body">
                                    <p>Documento: @item.PropietarioId.DNI</p>
                                    <p>Email: @item.PropietarioId.Email</p>
                                 </div> 
                            </div>
                            
                      </td>
                      <td>@item.CantidadAmbientes</td>
            		      <td>@item.InmuebleTipoId.Tipo</td>
            		      <td>@item.Direccion</td>
            		      <td>@item.PrecioBase</td>
            		      <td>@item.Uso</td>
                      <td> 
                          <a asp-controller="Contrato" asp-action="FormContrato" asp-route-idInm="@item.Id" asp-route-idInq="@m.IdInquilino" class="mx-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Agregar un nuevo contrato.">
                              <button type="button"   class="mx-2 " data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Agregar un nuevo contrato.">
                                   <i class="bi bi-plus"></i>
                              </button>
                          </a>
                          
                      </td>
                     @{i++;}
            	</tr>
           }
		</tbody>
	</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
     @{int anterior=m.Page==1?m.CantidadPaginas:m.Page-1;}
    <li class="page-item">
      <a class="page-link"  asp-controller="Inquilino" asp-action="ContratarAlquiler" asp-route-page="@(anterior)" asp-route-idInquilino="@m.IdInquilino" asp-route-filtrar="@(ViewBag.filtrar!=null ? "1" : "0")" 
      asp-route-filtro="@filtro" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    
      @for(i=m.PrimerNumero;i<=@m.CantidadPaginas;i++){
         string active = m.Page == m.PrimerNumero ? "active" : "";
        <li class="page-item @active">
          <a class="page-link"
             asp-controller="Inquilino"
             asp-action="ContratarAlquiler"       
             asp-route-page="@m.PrimerNumero"
             asp-route-filtrar="@(filtro == null ? "0" : "1")"
             asp-route-idInquilino="@m.IdInquilino"
             >
             @m.PrimerNumero
          </a>
        </li>
         m.PrimerNumero++;
    }
  
    
    @{m.Page=m.Page==m.CantidadPaginas?0:m.Page;}
    <li class="page-item">
      <a class="page-link"  asp-controller="Inquilino" asp-action="ContratarAlquiler" asp-route-page="@(m.Page+1)" asp-route-idInquilino="@m.IdInquilino" asp-route-filtrar="@(ViewBag.filtrar!=null ? "1" : "0")"
     asp-route-cantidadAmbientes="@filtro.CantidadAmbientes" 
     asp-route-cbComercial="@filtro.CbComercial" 
     asp-route-cbResidencial="@filtro.CbResidencial" 
     asp-route-precioMin="@filtro.PrecioMin" 
     asp-route-precioMax="@filtro.PrecioMax" 
     asp-route-aPartirDe="@filtro.ApartirDe" 
     asp-route-hasta="@filtro.Hasta" 
     
     aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li>
      <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Filtrar</button>

    </li>
  </ul>
</nav> 



<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header border-secondary">
    <h5 class="offcanvas-title border-secondary" id="offcanvasRightLabel">Filtros</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div>  
      <span class="placeholder col-12 placeholder-xs"></span>
  </div>
  <div class="offcanvas-body ">
    <form asp-controller="Inquilino" asp-action="ContratarAlquiler" asp-route-page="1" asp-route-filtrar="1" asp-route-idInquilino="@m.IdInquilino" method="get" id="miFormulario">
         <div>
            <h4>Uso</h4>
            <div>
              <input type="hidden" name="page" value="1"/>
              <input type="hidden" name="filtrar" value="1"/>
               <input type="checkbox" id="cbComercial" name="cbComercial" value="true"  @(filtro != null && filtro.CbComercial ? "checked" : "")>
               <label for="cbComercial">Comercial</label>
               <input type="checkbox" id="cbResidencial" name="cbResidencial" value="true"  @(filtro != null && filtro.CbResidencial ? "checked" : "")>
               <label for="cbResidencial">Residencial</label>
           </div>
         </div>
         <div>
            <h4>Tipo</h4>
            <div>
               
               <input class="form-control"  name="tipo" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." value="@((filtro != null ? filtro.Tipo : ""))">
               <datalist id="datalistOptions">
                  @foreach (var item in m.ListaTipos){
                      <option value="@item.Tipo">@item.Tipo</option>
                  }
               </datalist>
           </div>
         </div>
         <div>
            <h4>Cantidad de ambientes</h4>
            <div>
               <input type="number" min="0" name="cantidadAmbientes" step="1" value='@filtro.CantidadAmbientes'>
           </div>
         </div>
         <div>
            <h4>Precio</h4>
            <div>
               <label for="precioMin">Precio Mínimo:</label>
               <input type="number" id="precioMin" name="precioMin" min="0" step="0.01" value="@filtro.PrecioMin"> 
               
               <label for="precioMax">Precio Máximo:</label>
               <input type="number" id="precioMax" name="precioMax" min="0" step="0.01" value="@filtro.PrecioMax">
           </div>
         </div>
         <div>
            <h4>Fecha</h4>
            <div>
               <label asp-for="ApartirDe" class="control-label"></label>
               <input asp-for="ApartirDe" class="form-control" value='@(filtro.ApartirDe.ToString("yyyy-MM-dd"))'/>
                <span asp-validation-for="ApartirDe" id="ApartirDe" class="text-danger"></span>
            </div>
            <div>    
               <label for="hasta">Hasta:</label>
               <input type="date"  name="hasta" id="hasta" class="form-control"  value='@filtro.Hasta.ToString("yyyy-MM-dd")' /> 
           </div>
         </div>
         <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-primary" />
          </div>
         
    </form>
  </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
  
}

 
<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').tooltip();
    });

    
</script>