@model InmobiliariaGutierrez.Models.VO.AuditoriaViewModel

<!DOCTYPE html>
<html>

<body>

<div class="container">
    <h2>Detalles de Auditoría de Pago</h2>

    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">Contrato</h4>
            <p class="card-text">ID: @Model.Contrato.Id</p>
            <p class="card-text">Fecha de Inicio: @Model.Contrato.FechaInicio.ToString("dd/MM/yyyy")</p>
            <p class="card-text">Fecha de Fin: @Model.Contrato.FechaFin.ToString("dd/MM/yyyy")</p>
        </div>
    </div>

    <table id="auditoriaTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Usuario que Recibió el Pago</th>
                <th>Fecha de Recepción del Pago</th>
                <th>Fecha de Cancelación del Pago</th>
                <th>Inquilino</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var auditoria in Model.Auditoriapago)
            {
                <tr>
                    <td>@Model.Usuario.Nombre @Model.Usuario.Apellido</td>
                    <td>@(auditoria.FechaPago.HasValue ? auditoria.FechaPago.Value.ToString("dd/MM/yyyy") : "No disponible")</td>
                    <td>@(auditoria.FechaCancelacion.HasValue ? auditoria.FechaCancelacion.Value.ToString("dd/MM/yyyy") : "No disponible")</td>
                    <td>@Model.Contrato.InquilinoId.Nombre @Model.Contrato.InquilinoId.Apellido</td>
                </tr>
            }
        </tbody>
    </table>
</div>


</body>
</html>
