@model InmobiliariaGutierrez.Models.VO.AuditoriaViewModelPago

<!DOCTYPE html>
<html>

<body>

<div class="container">
    <h2>Detalles de Auditoría de Pago</h2>

    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">Contrato</h4>
            <p class="card-text">ID: @Model.Contrato.Id</p>
       <p class="card-text">ID: @Model.Contrato.Id</p>
        <p class="card-text">Fecha de Inicio: @(Model.Contrato.FechaInicio != null ? Model.Contrato.FechaInicio.ToString("dd/MM/yyyy") : "No disponible")</p>
        <p class="card-text">Fecha de Fin: @(Model.Contrato.FechaFin != null ? Model.Contrato.FechaFin.ToString("dd/MM/yyyy") : "No disponible")</p>
        </div>
    </div>

    <table id="auditoriaTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Usuario que Recibió el Pago</th>
                <th>Fecha de Recepción del Pago</th>
                <th>Fecha de Cancelación del Pago</th>
                <th>Inquilino</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var auditoria in Model.AuditoriaDatapago)
            {
                <tr>
                    <td>@(auditoria.Usuario.Nombre) @(auditoria.Usuario.Apellido)</td>
                    <td>@(auditoria.Fecha.HasValue ? auditoria.Fecha.Value.ToString("dd/MM/yyyy") : "No disponible")</td>
                    <td>@(auditoria.FechaPago.HasValue ? auditoria.FechaPago.Value.ToString("dd/MM/yyyy") : "No disponible")</td>
                    <td>@(Model.Contrato.InquilinoId.Nombre) @(Model.Contrato.InquilinoId.Apellido)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

</body>
</html>
