@model List<InmobiliariaGutierrez.Models.VO.Contrato>
    <h1>Contratos dados de baja</h1>


<table class="table table-hover table-sm align-middle table-responsive" >
        <thead class="table-dark">
            <tr>
              <th>ID</th>
                <th>Inquilino</th>
                <th>Inmueble</th>
                <th>Fechas</th>
                <th>Precio por mes</th>
                <th></th>
            </tr>
		</thead>
        <tbody >
      @{int i=0;}
			@foreach (var item in Model){
            		<tr>
            		      <td>@item.Id</td>
            		      <td>
                            <p class="d-inline-flex gap-1">
                                 <button type="button" class="btn btn-outline-secondary btn-sm collapsed"  
                                         data-bs-toggle="collapse" 
                                         data-bs-target="#infoInquilino@(i)" 
                                         aria-expanded="false" 
                                         aria-controls="infoInquilino@(i)" > @item.InquilinoId.Nombre @item.InquilinoId.Apellido
                                 </button>
                            </p>
                            <div class="collapse" id="infoInquilino@(i)" >
                                <div class="card card-body">
                                    <p>Documento: @item.InquilinoId.DNI</p>
                                    <p>Email: @item.InquilinoId.Email</p>
                                 </div> 
                            </div>
                            
                      </td>
                      <td>
                            <p class="d-inline-flex gap-1">
                                 <button type="button" class="btn btn-outline-secondary btn-sm collapsed"  
                                         data-bs-toggle="collapse" 
                                         data-bs-target="#infoInmueble@(i)" 
                                         aria-expanded="false" 
                                         aria-controls="infoInmueble@(i)" > @item.InmuebleId.Direccion
                                 </button>
                            </p>
                            <div class="collapse" id="infoInmueble@(i)" >
                                <div class="card card-body">
                                    <p>Propietario: @item.InmuebleId.PropietarioId.Nombre</p>
                                    <p>Email: @item.InmuebleId.PropietarioId.Email</p>
                                 </div> 
                            </div>
                            
                      </td>
                      <td>
                            <p class="d-inline-flex gap-1">
                                 <button type="button" class="btn btn-outline-secondary btn-sm collapsed"  
                                         data-bs-toggle="collapse" 
                                         data-bs-target="#infoFechas@(i)" 
                                         aria-expanded="false" 
                                         aria-controls="infoFechas@(i)" > Ver fechas
                                 </button>
                            </p>
                            <div class="collapse" id="infoFechas@(i)" >
                                <div class="card card-body">
                                    <p>Fecha inicio: @item.FechaInicio</p>
                                    <p>Fecha fin: @item.FechaFin</p>
                                    <p>Fecha anticipada: @item.FechaFinAnticipada</p>
                                 </div> 
                            </div>
                            
                      </td>
            		  <td>@item.PrecioXmes</td>
                      <td>
                        @if(User.IsInRole("Administrador")){  
                             <form  asp-controller="Auditoriac" asp-action="Detalle" method="post">
                               <input type="hidden" name="ContratoId" value="@item.Id" />
                               
               
                               <button type="submit" class="mx-2 ">
                                   <i class="bi bi-info-circle" style="font-size: 1rem;"></i> <!-- Cambié el icono aquí y ajusté el tamaño -->
                               </button>
             
                           </form>
                           }
                      </td>



                    
                     @{i++;}
            	</tr>
           }
		</tbody>
	</table>    