@model InmobiliariaGutierrez.Models.VO.Contrato



@{if(ViewBag.msg!=null){
  <div class="alert alert-success" role="alert">
          @ViewBag.msg
  </div>
  <div>
  <a asp-action="Index">Volver</a>
</div>
}
else{

if(ViewBag.errores!=null){
  <div class="alert alert-warning" role="alert">
          ⚠Errores en los datos ingresados, vuelva a ingresarlos correctamente
  </div>
  <div>
  <a asp-action="Index">Volver</a>
</div>
}

<h4>Nuevo contrato</h4>

<hr />


<div class="container position-relative z-1 h-50 w-50">
    <form asp-action="Guardar" method="post">  
        <div class="formularioContrato z-5 position-absolute  top-0 start-0 h-50 w-50 visible">
                 <div class="form-group">
                      <input asp-for="Id" type="hidden" value=@(Model!=null?Model.Id:0)>
                      <input asp-for="InquilinoId.Id" type="hidden"  id="inquilinoId">
                      <input asp-for="InquilinoId.Nombre" type="hidden" id="inquilinoNombre">
                      <input asp-for="InquilinoId.Apellido" type="hidden" id="inquilinoApellido">
                      <input asp-for="InquilinoId.DNI" type="hidden" id="inquilinoDNI">
                      <input asp-for="InquilinoId.Email" type="hidden" id="inquilinoEmail">
                      <input asp-for="InquilinoId.Telefono" type="hidden" id="inquilinoTelefono">
                      <input asp-for="InquilinoId.Domicilio" type="hidden" id="inquilinoDomicilio">
                      <label asp-for="InquilinoId" class="control-label">Inquilino</label>
                      <input asp-for="InquilinoId" class="form-control"
                                                   id="innquilinoDataList"
                                                   autocomplete="off"
                                                   placeholder="cualquier dato del inquilino..."
                                                   data-bs-toggle="collapse"
                                                   data-bs-target="#collapseExample"
                                                   aria-expanded="false"
                                                   aria-controls="collapseExample"
                                                   value=@(Model!=null? $"{Model.InquilinoId.Nombre} {Model.InquilinoId.Apellido}":"")
                                          
                                                   >
                      <div class="collapse" id="collapseExample">
                         <h5 id="tituloDivInquilino"></h5>
                         <ul id="ulInquilino">
                         </ul>
                       </div>
                  </div>
                  <div>
                    <button type="button" class="btn btn-secondary disabled" id="btnNext1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                           <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                      </svg>
                    </button>
                  </div>
        </div>
        <div class="formularioContrato z-4 position-absolute  top-0 start-0 h-50 w-50 invisible ">
                <input asp-for="InmuebleId.Id" type="hidden"  id="inmuebleId">
                      <input asp-for="InmuebleId.PropietarioId.Id" type="hidden" id="propietarioId">
                      <input asp-for="InmuebleId.PropietarioId.DNI" type="hidden" id="propietarioDni">
                      <input asp-for="InmuebleId.PropietarioId.Nombre" type="hidden" id="propietarioNombre">
                      <input asp-for="InmuebleId.PropietarioId.Apellido" type="hidden" id="propietarioApellido">
                      <input asp-for="InmuebleId.PropietarioId.Email" type="hidden" id="propietarioEmail">
                      <input asp-for="InmuebleId.Direccion" type="hidden" id="inmuebleDireccion">
                      <input asp-for="InmuebleId.InmuebleTipoId.Tipo" type="hidden" id="inmuebleTipo">
                      <input asp-for="InmuebleId.CantidadAmbientes" type="hidden" id="inmuebleCantidadAmbientes">
                <div class="form-group">
                     @Html.Partial("_tablaContrato.cshtml")
                     <div>
                        <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Filtrar</button>
                     </div>
                </div>
                <div>
                  <button type="button" class="btn btn-secondary disabled" id="btnNext2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                         <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                  </button>
                </div>
        </div>  
        <div class="formularioContrato z-3 position-absolute  top-0 start-0 h-50 w-50 invisible">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                         <h4 class="my-0 fw-normal">Inmueble</h4>
                    </div>
                    <div class="card-body">
                              <h4 class="card-title pricing-card-title" id="nombreCard">Propietario: @(Model==null?"":
                                                                                          (Model.InmuebleId.PropietarioId==null?"":
                                                                                          Model.InmuebleId.PropietarioId.Nombre))
                                       <small  class="text-body-secondary fw-light" id="apellidoCard">
                                            @(Model==null?"":
                                             (Model.InmuebleId.PropietarioId==null?"":
                                              Model.InmuebleId.PropietarioId.Apellido))
                                        </small>
                              </h4>
                              <ul class="list-unstyled mt-3 mb-4">
                                <li id="direccionCard">Dirección: @(Model!=null?Model.InmuebleId.Direccion:"")</li>
                                <li id="tipoCard">Tipo:
                                    @(Model==null?"":
                                    (Model.InmuebleId.InmuebleTipoId==null?"":
                                    Model.InmuebleId.InmuebleTipoId.Tipo))
                                </li>
                                <li id="usoCard">Uso: @(Model!=null?Model.InmuebleId.Uso:"")</li>
                                <li id="cantidadCard">Cantidad de ambientes: @(Model!=null?Model.InmuebleId.CantidadAmbientes:"")</li>
                              </ul>
                              <button id="btnSeleccionarOtroInmueble" type="button" class="w-60 btn btn-lg btn-primary">Seleccionar otro inmueble</button>
                              <div class="row mt-5">
                                 <div class="form-group col">
                                    <button type="button" class="btn btn-primary" id="btnVolver1" >
                                       <i class="bi bi-arrow-left"></i>
                                    </button>
                                 </div>
                                <div class="form-group col">
                                  <button type="button"  id="btnNext22" class="btn btn-primary float-end">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                    </svg>
                                  </button>
                                </div>
                              </div>
                    </div>
                </div>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
         </div>
         <div class="formularioContrato z-2 position-absolute  top-0 start-0 h-50 w-50 invisible">
              <div class="form-group">
                   <label asp-for="FechaInicio" class="control-label"></label>
                   <input asp-for="FechaInicio" class="form-control" />
                   <span asp-validation-for="FechaInicio" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="PrecioXmes" class="control-label"></label>
                <input asp-for="PrecioXmes" class="form-control"  />
                <span asp-validation-for="PrecioXmes" class="text-danger"></span>
              </div>
              <div class="row mt-5">
                  <div class="form-group col">
                       <button type="button" class="btn btn-primary" id="btnVolver2">
                            <i class="bi bi-arrow-left"></i>
                       </button>
                  </div>
                  <div class="form-group col">
                    <input type="submit" value="Guardar" class="btn btn-primary float-end" />
                  </div>
              </div>
          </div>
    </form>
</div>





<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header border-secondary">
    <h5 class="offcanvas-title border-secondary" id="offcanvasRightLabel">Filtros</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div>  
      <span class="placeholder col-12 placeholder-xs"></span>
  </div>
  <div class="offcanvas-body ">
    <form  method="get" name="formFiltrar"  >
         <div>
            <h4>Uso</h4>
            <div>
              <input type="hidden" name="page" value="1"/>
              <input type="hidden" name="filtrar" value="1"/>
               <input type="checkbox" id="cbComercial" name="cbComercial">
               <label for="cbComercial">Comercial</label>
               <input type="checkbox" id="cbResidencial" name="cbResidencial" )>
               <label for="cbResidencial">Residencial</label>
           </div>
         </div>
         <div>
            <h4>Tipo</h4>
            <div>
               
               <input class="form-control"  name="tipo" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
               <datalist id="datalistOptions">
                  @foreach (var item in ViewBag.ListaTipos){
                      <option value="@item.Tipo">@item.Tipo</option>
                  }
               </datalist>
           </div>
         </div>
         <div>
            <h4>Cantidad de ambientes</h4>
            <div>
               <input type="number" min="0" name="cantidadAmbientes" step="1" >
           </div>
         </div>
         <div>
            <h4>Precio</h4>
            <div>
               <label for="precioMin">Precio Mínimo:</label>
               <input type="number" id="precioMin" name="precioMin" min="0" step="0.01"> 
               
               <label for="precioMax">Precio Máximo:</label>
               <input type="number" id="precioMax" name="precioMax" min="0" step="0.01" >
           </div>
         </div>
         <div>
            <h4>Fecha</h4>
            <div>
               <label  class="control-label"> A partir de: </label>
               <input type="date" class="form-control" name="desde" id="desde" />
            </div>
            <div>    
               <label for="hasta">Hasta:</label>
               <input type="date"  name="hasta" id="hasta" class="form-control"   /> 
           </div>
         </div>
         <div class="form-group">
            <button type="button"  class="btn btn-primary" id="btnFiltrar">Aplicar</button>
          </div>
         
    </form>
  </div>
</div>



<script>
    
 const registro=document.getElementById("registro");
   
    const btn1=document.getElementById("btnNext1");
    const btn2=document.getElementById("btnNext2");
    const btn22=document.getElementById("btnNext22");
    const btn3=document.getElementById("btnSeleccionarOtroInmueble");
    const btnVolver2=document.getElementById('btnVolver2');
    const btnVolver1=document.getElementById('btnVolver1');
    const inputInnquilino=document.getElementById('innquilinoDataList');
    const editar=inputInnquilino.value?true:false;;
   function mostrarTabla(){
        dibujarTabla(1,`/Contrato/GetListaInmueblePag`);
        
   }





    document.addEventListener("DOMContentLoaded", function() {
          if(editar){ // editar
              btn1.classList.remove('disabled');
              btn1.addEventListener('click', e=>{pagSiguiente('z-3')})
          }

          else{
           btn1.addEventListener('click',()=>{  
            pagSiguiente('z-3');
            if(!editar)                                   
                pagSiguiente('z-4');
            mostrarTabla()
            });
          }
    });




btn3.addEventListener('click',()=>{
  pagSiguiente('z-4')
  mostrarTabla();
  })





//*****************************************************************************************

    document.getElementById('innquilinoDataList').addEventListener('input', function () {
        console.log="qqqqqqqq"
        var valorIngresado = this.value;
        
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var listaInquilinos=JSON.parse(xhr.responseText);
                    var ulInquilino = document.getElementById("ulInquilino");
                    ulInquilino.innerHTML = ""; 
                    document.getElementById("tituloDivInquilino").innerHTML=listaInquilinos.length!=0?"Seleccione un inquilino":"El valor ingresado no coincide con ningún inquilino.";

                    listaInquilinos.forEach((inquilino)=> {
                           var li = document.createElement('li');
                           li.value = inquilino.nombre; 
                           li.innerHTML=inquilino.nombre;
                           li.id=inquilino.id;
                           ulInquilino.appendChild(li);
                           li.addEventListener("click",(e)=>{
                                
                                  document.getElementById("inquilinoId").value=e.target.id;
                                  document.getElementById("inquilinoNombre").value=inquilino.nombre;
                                  document.getElementById("inquilinoApellido").value=inquilino.apellido;
                                  document.getElementById("inquilinoDNI").value=inquilino.DNI;
                                  document.getElementById("inquilinoTelefono").value=inquilino.telefono;
                                  document.getElementById("inquilinoEmail").value=inquilino.email;
                                  document.getElementById("inquilinoDomicilio").value=inquilino.domicilio;
                                  inputInnquilino.value=e.target.textContent;
                                  inputInnquilino.setAttribute("aria-expanded","false"); 
                                   inputInnquilino.click();
                                   btn1.classList.remove('disabled');
                                   console.log("qqqqqqqq");
                           })
                        });
                } else {
                    
                    console.log('Error al obtener las opciones del servidor');
                }
            }
        };
       
        xhr.open('GET', '/Inquilino/GetOpciones?input=' + valorIngresado, true);
        xhr.send();
    });

   

//***********************************************************************************************************************


function dibujarTabla(page=1,ruta,queryString='&'){
        ruta=ruta.split("?")[0];
        let p=1;
         const registroClon2 = registro.cloneNode(true);
   
        
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var objeto=JSON.parse(xhr.responseText);
                    const listaInmuebles=objeto.listaInmuebles;
                    // recorro la lista creando cada tr y appendeandolo en el body
                   
                    
                    const bodyTabla=document.getElementById("bodyTabla");
                    bodyTabla.innerHTML="";
                    listaInmuebles.forEach(inm=> {

                                  const registroClon=registroClon2.cloneNode(true)
                                  registroClon.id+=inm.id;
                                  registroClon.querySelector('#tdId').textContent = inm.id;
                                 
                                  const btnPropietario = registroClon.querySelector('#btnPropietario');
                                  btnPropietario.setAttribute('data-bs-target', `#infoPersona${inm.id}`);
                                  btnPropietario.setAttribute('aria-controls', `infoPersona${inm.id}`);
                                  btnPropietario.textContent=`${inm.propietarioId.nombre} ${inm.propietarioId.apellido}`
                                 
                                  registroClon.querySelector('#infoPersona').id+=inm.id;
                                  registroClon.querySelector('#pDocumento').innerHTML=`Documento: ${inm.propietarioId.dni}`;
                                  registroClon.querySelector('#pEmail').innerHTML=`Documento: ${inm.propietarioId.email}`;
                                  
                                  registroClon.querySelector('#cantidadAmbientes').textContent+=inm.cantidadAmbientes;
                                  registroClon.querySelector('#inmuebleTipo').textContent+=inm.inmuebleTipoId.tipo;
                                  registroClon.querySelector('#direccion').textContent+=inm.direccion;
                                  registroClon.querySelector('#precioBase').textContent+=inm.precioBase;
                                  registroClon.querySelector('#uso').textContent+=inm.uso==1?'Residelcial':'Comercial';
                                  //evennto para cada fila
                                  registroClon.addEventListener('click',(e)=>{
                                         const id=document.getElementById("inmuebleId");
                                         const propNombre=document.getElementById("propietarioNombre");
                                         const cantAmb=document.getElementById("inmuebleCantidadAmbientes");
                                         const direccion=document.getElementById("inmuebleDireccion");
                                         const tipoInm=document.getElementById("inmuebleTipo");
                                         const propApellido=document.getElementById("propietarioApellido");
                                         const propId=document.getElementById("propietarioId");
                                         const propDni=document.getElementById("propietarioDni");
                                         const propEmail=document.getElementById("propietarioEmail");
                                         propEmail.value=inm.propietarioId.email;
                                         propId.value=inm.propietarioId.id;
                                         propDni.value=inm.propietarioId.dni;
                                         propNombre.value=inm.propietarioId.nombre;
                                         propApellido.value=inm.propietarioId.apellido;
                                         direccion.value=inm.direccion;
                                         tipoInm.value=inm.inmuebleTipoId.tipo;
                                         cantAmb.value=inm.cantidadAmbientes;
                                         id.value=inm.id;
                                         const filasActivas = document.querySelectorAll('.table-active');
                                         filasActivas.forEach(fila => {
                                             fila.classList.remove('table-active');
                                          
                                          });
                                         (e.currentTarget).classList.toggle('table-active');
                                         btn2.classList.remove('disabled');
                                         // cambiar el div
                                         document.getElementById("direccionCard").textContent=`Dirección: ${inm.direccion}`;
                                         document.getElementById("tipoCard").textContent=`Tipo: ${inm.inmuebleTipoId.tipo}`;
                                         document.getElementById("usoCard").textContent=`Uso: ${inm.uso==1?'Residelcial':'Comercial'}`;
                                         document.getElementById("cantidadCard").textContent=`Cantidad de ambientes: ${inm.cantidadAmbientes}`; 
                                         document.getElementById("nombreCard").textContent=` ${inm.propietarioId.nombre}`; 
                                        // document.getElementById("apellidoCard").textContent=` ${inm.propietarioId.apellido}`; 
                                         pagSiguiente('z-4');                            
                                         });
                                  bodyTabla.appendChild(registroClon);
                                 });
                    // el nav
                    
                    
                    const navUl=document.getElementById("navUl");
                    navUl.innerHTML = '';
                   const liPrevious = document.createElement('li');
                   liPrevious.classList.add('page-item');
                   const aPrevious = document.createElement('a');
                   aPrevious.classList.add('page-link');
                   aPrevious.setAttribute('aria-label', 'Previous');
                   aPrevious.innerHTML = '<span aria-hidden="true">&laquo;</span>';
                   liPrevious.appendChild(aPrevious);
                   liPrevious.addEventListener('click',e=>{
                                 const p=objeto.page==1?objeto.cantidadPaginas:objeto.page-1;
                        
                                dibujarTabla(p,ruta)
                                })
                   navUl.appendChild(liPrevious);


                    for(let i=objeto.primerNumero;i<=objeto.primerNumero+4 && i<=objeto.cantidadPaginas;i++){
                              
                              const li=document.createElement("li");
                              li.classList.add("page-item");
                              if(objeto.page==i)
                                li.classList.add("active");
                              const a=document.createElement("a");
                              a.textContent=i;
                              a.classList.add("page-link");
                              li.appendChild(a);
                              navUl.appendChild(li);
                              li.addEventListener('click',e=>{
                                dibujarTabla(i,ruta)
                                })
                    }
                   const liNext = document.createElement('li');
                  liNext.classList.add('page-item');
                  liNext.setAttribute('id', 'navNext');
                  const aNext = document.createElement('a');
                  aNext.classList.add('page-link');
                  aNext.setAttribute('aria-label', 'Next');
                  aNext.innerHTML = '<span aria-hidden="true">&raquo;</span>';
                  liNext.appendChild(aNext);                  
                  liNext.addEventListener('click',e=>{
                     const p=objeto.page==objeto.cantidadPaginas ? 1 : objeto.page+1;
                                dibujarTabla(p,ruta)
                                })
                  navUl.appendChild(liNext);




                } else {
                    
                    console.log('Error al obtener las opciones del servidor');
                }
            }
          }
          ruta+=`?page=${page}${queryString=='&'?"":'&'+queryString}`;

        xhr.open('GET', ruta, true);
        xhr.send();
}





function pagSiguiente(z){
  
        const visible = document.querySelector(".z-5");        
        const siguiente=document.querySelector(`.${z}`);
        siguiente.classList.remove("invisible");
        siguiente.classList.add("visible");
        siguiente.classList.remove(z)
        siguiente.classList.add("z-5");
        visible.classList.add(z);
        
        
        visible.classList.add("invisible");
         visible.classList.remove("visible"); 
         visible.classList.remove("z-5");
}


    btn2.addEventListener('click', ()=>{pagSiguiente("z-2")});
    btn22.addEventListener('click',()=>{pagSiguiente("z-2")} );    
    btnVolver2.addEventListener('click',()=>{pagSiguiente("z-2")})
    btnVolver1.addEventListener('click',()=>{pagSiguiente("z-3")})





    document.getElementById("btnFiltrar").addEventListener('click',function(){
        event.preventDefault();
         const obj={};
         obj.cbComercial=formFiltrar['cbComercial'].checked;
         obj.CbResidencial=formFiltrar['cbResidencial'].checked;
         obj.Tipo=formFiltrar['tipo'].value;
         obj.CantidadAmbientes=formFiltrar['cantidadAmbientes'].value;
         obj.PrecioMin=formFiltrar['precioMin'].value;
         obj.PrecioMax=formFiltrar['precioMax'].value;
         obj.ApartirDe=formFiltrar['desde'].value;
         obj.Hasta=formFiltrar['hasta'].value;
         const queryString = Object.keys(obj).map(key => key + '=' + encodeURIComponent(obj[key])).join('&');
         dibujarTabla(1,`/Contrato/GetListaInmueblePag?`,queryString);
    }   );

</script>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

}
}