@model InmobiliariaGutierrez.Models.VO.Contrato
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .hidden {
            display: none;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        #calculo {
             display: none;
       
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
   

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<table id="" class="">
    <thead>
        <tr>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Precio por Mes</th>
            <th>Estado</th>
            <th>Inquilino</th>
            <th>Documento Inquilino</th>
            <th>Dirección del Inmueble</th>
       
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.FechaInicio.ToShortDateString()</td>
            <td>@Model.FechaFin.ToShortDateString()</td>
            <td>@Model.PrecioXmes</td>
            <td>@Model.Estado</td>
            <td>@Model.InquilinoId.Nombre @Model.InquilinoId.Apellido</td>
            <td>@Model.InquilinoId.DNI</td>
            <td>@Model.InmuebleId.Direccion</td>

        </tr>
    </tbody>
</table>
 @if (!Model.tienefechapactada)
{
<div>
<label for="fechaSalida">Fecha de Salida:</label>
<input type="datetime-local" id="fechaSalida" name="fechaSalida">
<button type="submit" title="Pagar Cuota" onclick="calcular()">Calcular</button>
</div>
<div id="calculo" class="alert alert-info estilo-bonito hidden" role="alert"> </div>

<form action="/Contrato/PagarCuota">
    <button class="hidden" type="submit" title="Pagar Cuota" name="Id" value="@Model.Id">Pagar</button>
</form>

<form action="/Contrato/Pactarfecha" method="post">
    <button class="hidden" type="submit" title="Pagtar fecha" name="Id" value="@Model.Id">Pactar fecha</button>
</form>
}
else
{
       <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Tiene fecha de salida</h4>
        <p>Fecha Anticipada: @Model.FechaFinAnticipada</p>
        <hr>
        <p class="mb-0">Tiene que pagar el total de: @Model.preciototal</p>
    </div>
    <form action="/Contrato/PagarCuota">
    <button class="hello" type="submit" title="Pagar Cuota" name="Id" value="@Model.Id">Pagar</button>
</form>

}

<div>

<button type="button" title="Volver" onclick="goBack()">Volver</button>
</div>
<script>
    function goBack() {
  window.history.back();
}
function calcular()
 {
    var botonesOcultos = document.querySelectorAll('.hidden');
       botonesOcultos.forEach(boton => {
        boton.classList.remove('hidden');
    });
    var elementoCalculo = document.getElementById('calculo');
    elementoCalculo.classList.remove('hidden');
        // Cambia el estilo para hacer el elemento visible
        elementoCalculo.style.display = 'block';
    var fechaSeleccionada = document.getElementById('fechaSalida').value;
    var contratoId = @Model.Id+"/"+fechaSeleccionada; 
    var fechaSeleccionada=fechaSeleccionada+"hola";
    
 
   var data = [{
    Id: contratoId,
    Fecha: fechaSeleccionada
}];
    console.log(data);
    fetch('/Contrato/Calcular', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById('calculo').innerText = "Mensaje: " + data.mensaje;      
       
    })
    .catch(error => console.error('Error:', error));
}

</script>

</body>

</html>
