@model InmobiliariaGutierrez.Views.ContratoView.IndexView

<div>
<h1 class="d-flex">Lista de contratos
    <a asp-action="Editar" >
        <button type="submit"  class="mx-2 " data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Agregar un nuevo contrato.">
             <i class="bi bi-plus"></i>
        </button>
    </a>
    

</h1>

</div>


<table class="table table-hover table-sm align-middle table-responsive" >
        <thead class="table-dark">
            <tr>
              <th>ID</th>
                <th>Inquilino</th>
                <th>Inmueble</th>
                <th>Fechas</th>
                <th>Precio por mes</th>
                <th></th>
            </tr>
		</thead>
        <tbody >
      @{int i=0;}
			@foreach (var item in Model.ListaContratos){
            		<tr>
            		      <td>@item.Id</td>
            		      <td>
                            <p class="d-inline-flex gap-1">
                                 <button type="button" class="btn btn-outline-secondary btn-sm collapsed"  
                                         data-bs-toggle="collapse" 
                                         data-bs-target="#infoInquilino@(i)" 
                                         aria-expanded="false" 
                                         aria-controls="infoInquilino@(i)" > @item.InquilinoId.Nombre @item.InquilinoId.Apellido
                                 </button>
                            </p>
                            <div class="collapse" id="infoInquilino@(i)" >
                                <div class="card card-body">
                                    <p>Documento: @item.InquilinoId.DNI</p>
                                    <p>Email: @item.InquilinoId.Email</p>
                                 </div> 
                            </div>
                            
                      </td>
                      <td>
                            <p class="d-inline-flex gap-1">
                                 <button type="button" class="btn btn-outline-secondary btn-sm collapsed"  
                                         data-bs-toggle="collapse" 
                                         data-bs-target="#infoInmueble@(i)" 
                                         aria-expanded="false" 
                                         aria-controls="infoInmueble@(i)" > @item.InmuebleId.Direccion
                                 </button>
                            </p>
                            <div class="collapse" id="infoInmueble@(i)" >
                                <div class="card card-body">
                                    <p>Propietario: @item.InmuebleId.PropietarioId.Nombre</p>
                                    <p>Email: @item.InmuebleId.PropietarioId.Email</p>
                                 </div> 
                            </div>
                            
                      </td>
                      <td>
                            <p class="d-inline-flex gap-1">
                                 <button type="button" class="btn btn-outline-secondary btn-sm collapsed"  
                                         data-bs-toggle="collapse" 
                                         data-bs-target="#infoFechas@(i)" 
                                         aria-expanded="false" 
                                         aria-controls="infoFechas@(i)" > Ver fechas
                                 </button>
                            </p>
                            <div class="collapse" id="infoFechas@(i)" >
                                <div class="card card-body">
                                    <p>Fecha inicio: @item.FechaInicio</p>
                                    <p>Fecha fin: @item.FechaFin</p>
                                    <p>Fecha anticipada: @item.FechaFinAnticipada</p>
                                 </div> 
                            </div>
                            
                      </td>
            		  <td>@item.PrecioXmes</td>
                      <td class="d-flex">
							 <a asp-action="Editar" asp-route-id="@item.Id">
   						         <button type="submit"><i class="bi bi-pencil-square"></i></button>
   						     </a>
   						     <a asp-action="Finalizar" asp-route-id="@item.Id" method="post">
   						         <button type="submit"  class="mx-2 "><i class="bi bi-trash"></i></button>
   						     </a>
						</td>
                     @{i++;}
            	</tr>
           }
		</tbody>
	</table>


<nav aria-label="Page navigation example">
  <ul class="pagination">
     @{int anterior=Model.Page==1?Model.CantidadPaginas:Model.Page-1;}
    <li class="page-item">
      <a class="page-link"  asp-controller="Contrato" asp-action="Index" asp-route-page="@(anterior)"  aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    
      @for(i=Model.PrimerNumero;i<=(Model.PrimerNumero+4) && i<=Model.CantidadPaginas;i++){
         string active = Model.Page == i ? "active" : "";
        <li class="page-item @active">
          <a class="page-link"
           asp-action="Index"       
             asp-route-page="@i"
             >
             @i
          </a>
        </li>
    }
     
  
    
    @{Model.Page=Model.Page==Model.CantidadPaginas?0:Model.Page;}
    <li class="page-item" >
      <a class="page-link"  asp-controller="Contrato" asp-action="Index" asp-route-page="@(Model.Page+1)" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> 


<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>
