<table class="table table-hover table-sm align-middle table-responsive" >
        <thead class="table-dark">
            <tr>
				        <th>ID</th>
                <th>propietario</th>
                <th>canntidad ambiente</th>
                <th>Tipo</th>
                <th>Dirección</th>
                <th>Precio base</th>
                <th>Uso</th>
                <th></th>
            </tr>
		</thead>
        <tbody >
      @{int i=0;}
			@foreach (var item in Model.Lista){
            		<tr>
            		      <td>                           
                          @item.Id
                      </td>
            		      <td>
                            <p class="d-inline-flex gap-1">
                                 <button type="button" class="btn btn-outline-secondary btn-sm collapsed"  
                                         data-bs-toggle="collapse" 
                                         data-bs-target="#infoPersona@(i)" 
                                         aria-expanded="false" 
                                         aria-controls="infoPersona@(i)" > @item.PropietarioId.Nombre @item.PropietarioId.Apellido
                                 </button>
                            </p>
                            <div class="collapse" id="infoPersona@(i)" >
                                <div class="card card-body">
                                    <p>Documento: @item.PropietarioId.DNI</p>
                                    <p>Email: @item.PropietarioId.Email</p>
                                 </div> 
                            </div>
                            
                      </td>
                      <td>@item.CantidadAmbientes</td>
            		      <td>@item.InmuebleTipoId.Tipo</td>
            		      <td>@item.Direccion</td>
            		      <td>@item.PrecioBase</td>
            		      <td>@item.Uso</td>
                      <td> 
                          <a asp-controller="Contrato" asp-action="FormContrato" asp-route-idInm="@item.Id" asp-route-idInq="@Model.IdInquilino" class="mx-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Agregar un nuevo contrato.">
                              <button type="button"   class="mx-2 " data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Agregar un nuevo contrato.">
                                   <i class="bi bi-plus"></i>
                              </button>
                          </a>
                          
                      </td>
                     @{i++;}
            	</tr>
           }
		</tbody>
	</table>